{% extends 'base.html' %}

{% block body %}

<!-- <div class="screen">
    <div class="navbar">
        <div class="logo">
            <img src="static/images/logo.png">                
        </div>
        <nav>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Library</a></li>
                <li><a href="/IPA">IPA</a></li>
                <li><a href="">Contact</a></li>

            </ul>
        </nav>
        <div class="user">
            <p>Siem Girmay</p>
            <img src="static/images/user.png">
        </div>
    </div>
    <div class="sidebar">
        <img src="static/images/search.png" class="search-icon">
        <div class="social-links">
            <a href="https://twitter.com/siemghirmai"><img src="static/images/tw.png" ></a>
            <img src="static/images/pt.png">
            <img src="static/images/fb.png">
        </div>
        <img src="static/images/info.png" class="info-icon">
    </div>   -->

    <div class="msg-container">


        <div id="slider">





            <div class="slide">

            <div class="msg-col">
                <h1 id="w1"> <span id="word1">{{W1}}</span> <span class="pronoun">/{{P1}}/</span></h1>
                <p class="wCaterory">  {{WC1}} </p>
                <p>{{M1}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo1">
                    <button type="submit">Know It</button>
                </form>
                
                    

                        <!-- <button onclick="knowIt()" type="submit" value=knowIt() name="word1">Know it</button> -->
                    
                
            </div>

        </div>



        <div class="slide">

            <div class="msg-col">
                <h1><span id="word2">{{W2}}</span> <span class="pronoun">/{{P2}}/</span></h1>
                <p class="wCaterory">  {{WC2}} </p>
                <p>{{M2}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo2">
                    <button type="submit">Know It</button>
                </form>
            </div>
        </div>



        <div class="slide">

            <div class="msg-col">
                <h1><span id="word3"> {{W3}} </span><span class="pronoun">/{{P3}}/</span></h1>
                <p class="wCaterory">  {{WC3}} </p>
                <p>{{M3}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo3">
                    <button type="submit">Know It</button>
                </form>
            </div>

        </div>

        <div class="slide">

            <div class="msg-col">
                <h1><span id="word4">{{W4}}</span>  <span class="pronoun">/{{P4}}/</span></h1>
                <p class="wCaterory">  {{WC4}} </p>
                <p>{{M4}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo4">
                    <button type="submit">Know It</button>
                </form>
            </div>
        </div>


        <div class="slide">

            <div class="msg-col">
                <h1><span id="word5"> {{W5}} </span><span class="pronoun">/{{P5}}/</span> </h1>
                <p class="wCaterory">  {{WC5}} </p>
                <p>{{M5}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo5">
                    <button type="submit">Know It</button>
                </form>
            </div>

        </div>
            
            
        <div class="slide">    
            
            <div class="msg-col">
                <h1><span id="word6">{{W6}}</span>  <span class="pronoun">/{{P6}}/</span></h1>
                <p class="wCaterory">  {{WC6}} </p>
                <p>{{M6}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo6">
                    <button type="submit">Know It</button>
                </form>
            </div>
        </div>
        

        <div class="slide">
            <div class="msg-col">
                <h1><span id="word7"> {{W7}} </span><span class="pronoun">/{{P7}}/</span></h1>
                <p class="wCaterory">  {{WC7}} </p>
                <p>{{M7}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo7">
                    <button type="submit">Know It</button>
                </form>
            </div>

        </div>
        
        
        <div class="slide">
            <div class="msg-col">
                <h1><span id="word8"> {{W8}} </span><span class="pronoun">/{{P8}}/</span></h1>
                <p class="wCaterory">  {{WC8}} </p>
                <p>{{M8}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo8">
                    <button type="submit">Know It</button>
                </form>
            </div>

        </div>


        <div class="slide">


            <div class="msg-col">
                <h1><span id="word9"> {{W9}} </span><span class="pronoun">/{{P9}}/</span></h1>
                <p class="wCaterory">  {{WC9}} </p>
                <p>{{M9}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo9">
                    <button type="submit">Know It</button>
                </form>
            </div>
        </div>


        <div class="slide">


            <div class="msg-col">
                <h1><span id="word10"> {{W10}}</span> <span class="pronoun">/{{P10}}/</span></h1>
                <p class="wCaterory">  {{WC10}} </p>
                <p>{{M10}}</p>
                <form action="/knowit" method="POST">
                    <input type="hidden" name="word1" id="wo10">
                    <button type="submit">Know It</button>
                </form>
            </div>
        </div>

        </div>
            
    </div>

    <div class="controller">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
        <div id="line4"></div>
        <div id="line5"></div>
        <div id="line6"></div>
        <div id="line7"></div>
        <div id="line8"></div>
        <div id="line9"></div>
        <div id="line10"></div>
        <div id="active"></div>

    </div>



    
</div>



<script>
   /*var slider = document.getElementById('slider');
   var active = document.getElementById('active');
   var line1 = document.getElementById('line1');
   var line2 = document.getElementById('line2');
   var line3 = document.getElementById('line3');
   var line4 = document.getElementById('line4');
   var line5 = document.getElementById('line5');
   var line6 = document.getElementById('line6');
   var line7 = document.getElementById('line7');
   var line8 = document.getElementById('line8');
   var line9 = document.getElementById('line9');
   var line10 = document.getElementById('line10');








    line1.onclick= function() {
       slider.style.transform = 'translateX(0)';
       active.style.top = '0px';
    }

    line2.onclick= function() {
       slider.style.transform = 'translateX(-10%)';
       active.style.top = '32px';
    }

    line3.onclick= function() {
       slider.style.transform = 'translateX(-20%)';
       active.style.top = '64px';
    }

    line4.onclick= function() {
       slider.style.transform = 'translateX(-30%)';
       active.style.top = '96px';
    }

    line5.onclick= function() {
       slider.style.transform = 'translateX(-40%)';
       active.style.top = '128px';
    }

    line6.onclick= function() {
       slider.style.transform = 'translateX(-50%)';
       active.style.top = '160px';
    }

    line7.onclick= function() {
       slider.style.transform = 'translateX(-60%)';
       active.style.top = '192px';
    }

    line8.onclick= function() {
       slider.style.transform = 'translateX(-70%)';
       active.style.top = '224px';
    }

    line9.onclick= function() {
       slider.style.transform = 'translateX(-80%)';
       active.style.top = '256px';
    }

    line10.onclick= function() {
       slider.style.transform = 'translateX(-90%)';
       active.style.top = '288px';
    } */ 


    function Slider(id,slideWidth,animationDuration,animationDelay)
{


let interval;
let slider = document.getElementById(id);
let slides = slider.children;
for(let slide of slides)
{
slide.style.width = `${slideWidth}vw`;
}

slider.style.transition = `transform ${animationDuration}ms`;
let slidesCount = slider.children.length;
let position = 1;

return {
startSlider()
{
let interval = setInterval(()=>{

    slider.style.transform = `translateX(-${position * slideWidth}vw)`;
  position = slidesCount - 1 == position ? 0 : position + 1;
  
},animationDelay);
}
};


}

let slider = Slider("slider",80,3000,10000);

slider.startSlider();


 






</Script>
</div>

{% endblock %}


