{% extends 'base.html'%}
{% block body %}
<div class="IPAcont">
<div class="IPA">
    <h1 style="color: bbbbbb; text-align: center; margin-bottom: 20px;">International Phonetic Alphabet Sounds In Everyday Speech&nbsp; &nbsp; &nbsp; &nbsp;</h2>
    <p style="font-size: large;">The IPA is a system of phonetic notation used to represent the pronunciation of words in written form as the spelling of a word does not tell its pronounciation. In the IPA, each English sound has its own symbol, and those symbols are used to represent the pronunciation of the words combined to other symbols like the word stress symbol (‘) the use of brackets and superscripts. The video and tables bellow can be referenced to learn how the symbols are pronounced. </p>
    <h3></h3>
   
        
    
    <h3>Short Vowels</h3>
    <table class = "styled-table"><thead>
        <tr>
            <th>IPA Symbol</th>
            <th>Word Examples</th>
        </tr>
    </thead>
    <tbody><tr><td>e</td><td td="" sit,="" rich,="" kick,="" hit.<="" <thin,="">Went, intend, send, letter.</td></tr><tr><td>æ</td><td>Cat, hand, nap, flat, have.</td></tr><tr><td>ʌ</td><td>Fun, love, money, one, London, come.</td></tr><tr><td>ʊ</td><td>Put, look, should, cook, book, look.</td></tr><tr><td>ɒ</td><td>Rob, top, watch, squat, sausage.</td></tr><tr><td>ə</td><td>Alive, again, mother.</td></tr></tbody></table>
    <h3>Long Vowels</h3>
    <table class = "styled-table"><thead>
        <tr>
            <th>IPA Symbol</th>
            <th>Word Examples</th>
        </tr>
    </thead>
    <tbody><tr><td>i:</td><td>Need, beat, team.</td></tr><tr><td>ɜ:</td><td td="" worse,="" world,="" word.<="" turn,="" <third,="">Nurse, heard,&nbsp;third, turn.</td></tr><tr><td>ɔ:</td><td>Talk, law, bored, yawn, jaw.</td></tr><tr><td>u:</td><td>Few, boot, lose, gloomy, fruit, chew.</td></tr><tr><td>ɑ:&nbsp;</td><td>Fast, car, hard, bath.</td></tr></tbody></table>
    <h3>Diphthong Vowels</h3>
    <table class = "styled-table"><thead>
        <tr>
            <th>IPA Symbol</th>
            <th>Word Examples</th>
        </tr>
    </thead>
    <tbody><tr><td>ɪə</td><td>Near, ear, clear, tear, beer, fear</td></tr><tr><td>eə</td><td td="" stairs.<="" care,="" bear,="" air,="" <there,="">Hair, there, care, stairs, pear</td></tr><tr><td>eɪ</td><td>Face, space, rain&nbsp;, case, eight</td></tr><tr><td>ɔɪ</td><td>Joy, employ, toy, coil, oyster.</td></tr><tr><td>aɪ</td><td>My, sight, pride, kind, flight</td></tr><tr><td>əʊ</td><td>No, don’t, stones, alone, hole</td></tr><tr><td>aʊ</td><td>Mouth, house, brown, cow, out</td></tr></tbody></table>
    <h3>Consonants Sounds: Fricatives</h3>
    <table class = "styled-table"><thead>
        <tr>
            <th>IPA Symbol</th>
            <th>Word Examples</th>
        </tr>
    </thead>
    <tbody><tr><td>f</td><td>Full, Friday, fish, knife.</td></tr><tr><td>v</td><td>Vest, village, view, cave.</td></tr><tr><td>θ</td><td td="" thursday,="" thought,="" earth.<="" <think,="">Thought,&nbsp;think, Bath.&nbsp;</td></tr><tr><td>ð&nbsp;</td><td td="" thursday,="" thought,="" earth.<="" <think,="">There, those, brothers, others.</td></tr><tr><td>z</td><td>Zoo, crazy, lazy, zigzag, nose.</td></tr><tr><td>ʃ</td><td>Shirt, rush, shop, cash.</td></tr><tr><td>ʒ</td><td>Television, delusion, casual</td></tr><tr><td>h</td><td>High, help, hello.</td></tr></tbody></table>
    <h3>Consonants Sounds: Plosives</h3>
    <table class = "styled-table"><thead>
        <tr>
            <th>IPA Symbol</th>
            <th>Word Examples</th>
        </tr>
    </thead>
    <tbody><tr><td>p</td><td>Pin, cap, purpose, pause.</td></tr><tr><td>b</td><td>Bag, bubble, build, robe.</td></tr><tr><td>t</td><td>Time, train, tow, late.</td></tr><tr><td>d</td><td>Door, day, drive, down, feed.</td></tr><tr><td>k</td><td>Cash, quick, cricket, sock.</td></tr><tr><td>g</td><td>Girl, green, grass, flag.</td></tr></tbody></table>
    <h3>Consonants Sounds: Affricates</h3>
    <table class = "styled-table"><thead>
        <tr>
            <th>IPA Symbol</th>
            <th>Word Examples</th>
        </tr>
    </thead>
    <tbody><tr><td>ʈʃ</td><td>Choose, cheese, church, watch.</td></tr><tr><td>dʒ</td><td>Joy, juggle, juice, stage.</td></tr></tbody></table>
    <h3>Consonants Sounds: Nasals</h3>
    <table class = "styled-table"><thead>
        <tr>
            <th>IPA Symbol</th>
            <th>Word Examples</th>
        </tr>
    </thead>
    <tbody><tr><td>m</td><td>Room, mother, mad, more.</td></tr><tr><td>n</td><td>Now, nobody, knew, turn.</td></tr><tr><td>ŋ</td><td>King, thing, song, swimming.</td></tr></tbody></table>
    <h3>Consonants Sounds: Approximants</h3>
    <table class = "styled-table"><thead>
        <tr>
            <th>IPA Symbol</th>
            <th>Word Examples</th>
        </tr>
    </thead>
    <tbody><tr><td>r</td><td>Road, roses, river, ring, ride.</td></tr><tr><td>j</td><td>Yellow, usual, tune, yesterday, yard.</td></tr><tr><td>w</td><td>Wall, walk, wine, world.</td></tr><tr><td>l and ɫ</td><td>Law, lots, leap, long, pill, cold, chill, melt.</td></tr></tbody></table>

    
</div>
</div>
{% endblock %}